*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1dddd;
    color: #ffffff;
    margin: 0;
    min-height: 100vh;
}

button{
  
    background-color: #28c21d;
    color: #fff;
    padding: 1rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}